
# Customer name used as prefix for naming convention
customer_name = "MyCustomerName"
# Controller IP address or FQDN
controller_ip = "x.x.x.x"
# Name of the Azure account that is onboarded to the controller
azr_account = "azure"
# Name of the two applications that will be created (try to keep names short to avoid error message due to length of the name)
application_1 = "SwbPrivate"
application_2 = "SwbMyAssets"
# Add the admin_password variable used to connect to controller
admin_password = "MyAdminPassword"
# Add the vm_password variable used to connect to the VMs
vm_password = "MyVmPassword"
